//Variables primarias
$BrightBlue:hsl(220, 98%, 61%);
$CheckBackground: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));

//Variables light theme
$VeryLightGray: hsl(0, 0%, 98%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$LightGrayishBlue: hsl(233, 11%, 84%);
$DarkGrayishBlue: hsl(236, 9%, 61%);
$VeryDarkGrayishBlue: hsl(235, 19%, 35%);


//Dark theme
$VeryDarkBlueNoct: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlueNoct: hsl(235, 24%, 19%);
$LightGrayishBlueNoct: hsl(234, 39%, 85%);
$LightGrayishBlueNoctHover: hsl(236, 33%, 92%);
$DarkGrayishBlueNoct: hsl(234, 11%, 52%);
$VeryDarkGrayishBlueNoct: hsl(233, 14%, 35%);
$VeryDarkGrayishBlue2Noct: hsl(237, 14%, 26%);