@import './variables';

.container-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: .8rem 1.3rem;
  color: $DarkGrayishBlue;
}

.container-filter-btn{
  display: flex;
  width: 60%;
  justify-content: center;
  p{
    margin-right: 1rem;
    &:hover{
      font-weight: bold;
    }

    &:last-child{
      margin-right: 0;
    }
  }

}

@media(max-width:480px){
  .container-filter-btn{
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: white;
    padding: 1rem 0;
    width: 100%;
    border-radius: .45rem;
  }
}

body.noct .container-filter-btn{
  background-color: $VeryDarkDesaturatedBlueNoct;
}

.btn{
  cursor: pointer;
}

body.noct .btn:hover {
  color: white;
}

.selected{
  color: $BrightBlue;
}