.container-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  color: hsl(236, 9%, 61%);
}

.container-filter-btn {
  display: flex;
  width: 60%;
  justify-content: center;
}
.container-filter-btn p {
  margin-right: 1rem;
}
.container-filter-btn p:hover {
  font-weight: bold;
}
.container-filter-btn p:last-child {
  margin-right: 0;
}

@media (max-width: 480px) {
  .container-filter-btn {
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: white;
    padding: 1rem 0;
    width: 100%;
    border-radius: 0.45rem;
  }
}
body.noct .container-filter-btn {
  background-color: hsl(235, 24%, 19%);
}

.btn {
  cursor: pointer;
}

body.noct .btn:hover {
  color: white;
}

.selected {
  color: hsl(220, 98%, 61%);
}/*# sourceMappingURL=Filter.css.map */