@import './variables';

.input-todo{
    width: 100%;
    height: 45px;
    padding: .5rem .5rem .5rem 4rem;
    border: none;
    background-color: white;
    box-shadow: .1rem .1rem .5rem rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: none;
    color: $VeryDarkGrayishBlue;
    font-weight: bold;

    &::placeholder{
        color: $DarkGrayishBlue;
        font-weight: 400;
    }
}

body.noct .input-todo{
    background-color: $VeryDarkDesaturatedBlueNoct;
    color: $DarkGrayishBlueNoct;
    color: white;
}

section{
    position: relative;
    .boxcheck{
        width: 20px;
        height: 20px;
        position: absolute;
        top: .75rem; 
        left: 1rem; 
        border: 1px solid $LightGrayishBlue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

body.noct .boxcheck{
    border-color: $DarkGrayishBlueNoct;
}