.input-todo {
  width: 100%;
  height: 45px;
  padding: 0.5rem 0.5rem 0.5rem 4rem;
  border: none;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: none;
  color: hsl(235, 19%, 35%);
  font-weight: bold;
}
.input-todo::-moz-placeholder {
  color: hsl(236, 9%, 61%);
  font-weight: 400;
}
.input-todo::placeholder {
  color: hsl(236, 9%, 61%);
  font-weight: 400;
}

body.noct .input-todo {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 11%, 52%);
  color: white;
}

section {
  position: relative;
}
section .boxcheck {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  border: 1px solid hsl(233, 11%, 84%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body.noct .boxcheck {
  border-color: hsl(234, 11%, 52%);
}/*# sourceMappingURL=InputTodo.css.map */