@import './variables';

.tarea-container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  color: $VeryDarkGrayishBlue;

  .boxcheck-l{
    width: 20px;
    height: 20px;
    position: absolute;
    top: .75rem; 
    left: 1rem; 
    border: 1px solid $LightGrayishBlue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    p{
    padding: .5rem .5rem .5rem 4rem;
    }
  }
}

body.noct .tarea-container{
  color: white;
  .boxcheck-l{
    border-color: $DarkGrayishBlueNoct;
  }


}

.complete{
  background: $CheckBackground;
}

.complete-p{
  text-decoration:line-through;
  color: $DarkGrayishBlue;

}


.btn-borrar{
  position: absolute;
  right: 0;
  opacity: 0;
  height: 100%;
  width: auto;
  padding: .9rem 1.5rem;
}

.tarea-container:hover .btn-borrar{
  opacity: 1;
}



