.tarea-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  color: hsl(235, 19%, 35%);
}
.tarea-container .boxcheck-l {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  border: 1px solid hsl(233, 11%, 84%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarea-container div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.tarea-container div p {
  padding: 0.5rem 0.5rem 0.5rem 4rem;
}

body.noct .tarea-container {
  color: white;
}
body.noct .tarea-container .boxcheck-l {
  border-color: hsl(234, 11%, 52%);
}

.complete {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.complete-p {
  text-decoration: line-through;
  color: hsl(236, 9%, 61%);
}

.btn-borrar {
  position: absolute;
  right: 0;
  opacity: 0;
  height: 100%;
  width: auto;
  padding: 0.9rem 1.5rem;
}

.tarea-container:hover .btn-borrar {
  opacity: 1;
}/*# sourceMappingURL=Tarea.css.map */