@import './css/variables';

.App{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 2rem;
}

@media (max-width:480px) {
    .App{
        width: 90%;
        margin-right: 0;
    }
}

.noct-btn{
    height: 2rem;
    width: 2rem;
    background: url(./img/icon-moon.svg) no-repeat;
    background-position: center;
    border: none;
    margin-right: .6rem;
    cursor: pointer;

}

body.noct{ //btn nocturno
    .noct-btn{
      background: url(./img/icon-sun.svg) no-repeat;
      background-position: center;  
    }
}

.todo-list{
    width: 100%;
}

.list-tareas{
    min-height: 300px;
    width: 100%;
    background-color: white;
    border-radius: .5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.noct .list-tareas{
    background-color: $VeryDarkDesaturatedBlueNoct;
    color: white;
}