*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  width: 100%;
  background: url(./img/bg-desktop-light.jpg) no-repeat;
  background-color: hsl(236, 33%, 92%);
  background-size: contain;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

body.noct{
  background: url(./img/bg-desktop-dark.jpg) no-repeat;
  background-size: contain;
  background-color: hsl(235, 21%, 11%);
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}